body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}
header {
    background: linear-gradient(90deg, #798598, #60096c);
    color: white;
}
.hero {
    background: url('backImage.jpg') no-repeat center center/cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.card {
    border: none;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-primary {
    background: linear-gradient(90deg, #0d6efd, #6610f2);
    border: none;
}
footer {
    background: linear-gradient(90deg, #798598, #60096c);
    color: white;
}
footer p {
    margin: 0;
}

.btn-primary {
    background: linear-gradient(90deg, #798598, #60096c);
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2)
}

.btn-primary:hover {
    background: linear-gradient(90deg, #798598, #60096c29);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}